name: Weekly Cleaning Schedule

on:
  schedule:
    - cron: "10 23 * * 0" # Runs every Sunday at 22:00 UTC = Monday 00:10 Germany time
  workflow_dispatch: # Allows manual trigger

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: pip install gspread google-auth google-auth-oauthlib google-auth-httplib2

      - name: Run cleaning.py
        env:
          GOOGLE_CREDS_JSON: ${{ secrets.GOOGLE_CREDS_JSON }}
        run: |
          echo "$GOOGLE_CREDS_JSON" > service_account.json
          python3 cleaning.py
          rm service_account.json
